*
  outline: none

body
  background-color: $color-grey-white

.cookbook
  font-family: Lato
  font-weight: 300
  &__header
    width: 100%
    background: $gradient-grey-black
    padding: 5px 10%
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22)
  &__recipes
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    width: 80%
    margin: 0 auto
    padding: 50px 0
  &__footer
    position: fixed
    bottom: 0
    height: 15px
    width: 100%
    background: $gradient-grey-black
