.recipe
  &__wrapper
    @include recipe-box()
    &--new
      padding: 20px 40px
      @include recipe-box()
      display: flex
      flex-direction: column
      justify-content: space-between
      &:hover
        background-color: $color-grey-white
  &__content-wrapper
    height: 273px
    border-bottom: 1px solid $color-light-grey
  &__image
    background-image: url("//d3lph2spgmr3pz.cloudfront.net/individual-health-quotes/recipe-photo.1523441289.jpg")
    height: 120px
    background-size: 330px
  &__title
    display: inline-block
    padding: 0 15px 0 40px
    margin-bottom: 0
  &__edit-button
    display: inline-block
    font-size: 10px
    color: #2e3031
    &:hover
      text-decoration: underline
      cursor: pointer
  &__tutorial
    padding: 0 40px 20px 40px

  &__thumb-icons-wrapper
    position: absolute
    bottom: 0
  &__thumbs-wrapper
    height: 50px
  &__thumb-up
    @include thumb-icon()
    background-image: url("//d3lph2spgmr3pz.cloudfront.net/individual-health-quotes/thumbs-up.1523442165.svg")
    margin-left: 40px
    margin-right: 5px
  &__thumb-down
    @include thumb-icon()
    background-image: url("//d3lph2spgmr3pz.cloudfront.net/individual-health-quotes/thumbs-up.1523441955.svg")
    margin-bottom: -4px
    margin-right: 5px
  &__thumbs-number
    display: inline-block
    margin-right: 15px

  &__form
    height: 290px
    border-bottom: 1px solid $color-light-grey
  &__edit-input
    display: inline-block
    width: 130px
    @include edit-input()
    font-weight: 400
    margin: 20px 20px 20px 40px
    font-size: 24px
  &__edit-textarea
    display: inline-block
    width: 250px
    @include edit-input()
    font-weight: 300
    margin: 0 40px
    font-family: Lato
    font-weight: 300
    height: 175px

  &__error-message
    padding: 0 40px
    font-size: 12px
    color: $color-red
    margin: 10px 0

